[submodule "lecures-support/05-project-structure/external/json"]
	path = lecures-support/05-project-structure/external/json
	url = https://github.com/nlohmann/json.git
[submodule "lecures-support/07-definitions/external/json"]
	path = lecures-support/07-definitions/external/json
	url = https://github.com/nlohmann/json.git
[submodule "tasks/05-project-structure/external/json"]
	path = tasks/05-project-structure/external/json
	url = https://github.com/nlohmann/json.git
[submodule "lecures-support/19-installing/external/json"]
	path = lecures-support/19-installing/external/json
	url = https://github.com/nlohmann/json.git
[submodule "lecures-support/08-definitions/external/json"]
	path = lecures-support/08-definitions/external/json
	url = https://github.com/nlohmann/json.git
[submodule "lecures-support/08-definitions/external/googletest"]
	path = lecures-support/08-definitions/external/googletest
	url = https://github.com/google/googletest.git
[submodule "lecures-support/19-installing/external/googletest"]
	path = lecures-support/19-installing/external/googletest
	url = https://github.com/google/googletest.git
